<template name="comments">
  <div class="comments">
    <h3>Comments</h3>
    <ul class="list-group">
      {{#each comments}}
        <li class="list-group-item">
          <p>
            {{{comment}}}
          </p>
          <p class="text-muted">
            - {{username}} ({{commentDate createdAt}})
          </p>
        </li>
      {{else}}
        <li class="list-group-item">No comments... yet</li>
      {{/each}}
    </ul>
    {{#if currentUser}}
      <div class="form-group editor-group">

        <div id="editor-wrapper" class="block">
          <div id="editor"></div>
        </div>

        <button class="btn add-comment">
          <i class="fa fa-comment icon-comment"></i> Comment
        </button>

      </div>
    {{else}}
      <div class="alert alert-warning">
        You must be logged in to comment!
      </div>
    {{/if}}
  </div>
</template>
